<div id="myProgress">
  <div id="myBar" #myBar></div>
</div>
<div *ngIf="domandeJson" #DivQuiz>
  
  <p>{{ secondiRimanenti }}s</p>
  <p>{{ numeroRisposteDate }} / {{ numeroDomande }}</p>
  <p>{{ domandeJson[x].domanda.replaceAll('"', "") }}</p>
  <button
    *ngFor="let item of domandeJson[x].risposte; let y = index"
    (click)="imposta(domandeJson[x].risposte[y])"
  >
    {{ domandeJson[x].risposte[y].replaceAll('"', "") }}
  </button>
  <br />
  <button (click)="avanti()">Conferma</button>
</div>

<div *ngIf="finito == true">
  <p>GRAZIE PER AVER EFFETTUATO IL QUIZ</p>
</div>
<div id="prova">
  
</div>