
<div class = "background">
  <div class="container">
  <form action="">
    <h2 class="login-text">Registrati</h2>
    <p class="description">Inserire i propri dati prima di Eseguire il Quiz</p>
    <div class="div-form-control">
    <input type="text" class="form-control" placeholder="Inserisci nome" name="nome" id="nome" #nome required>
    </div>
    <br>
    <div class="div-form-control">
    <input type="text" class="form-control" placeholder="Inserisci cognome" name="cognome" id="cognome" #cognome required>
    </div>
    <br>
    <div class="div-form-control">
    <input type="text" class="form-control" placeholder="Inserisci email" name="email" id="email" #email required>
    </div>
    <br>
    <div class="div-form-control">
    <button class="button" class="button" (click)="salvaUtente()">Register</button>
  </div>
</form>
</div>
</div>